 <!DOCTYPE html>
<html>
<head>
	<title>The Big Dreamers (TBD)</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>


<body>

<div class="vertical-center"> 
  <div class="container">
    <h1 class="title">Let's reimagine life after death</h1>
  	<p class="subtitle">The Big Dreamers (TBD) - Stefan Sathianathen, Jeremy Tee, Darcy Murphy</p>
  </div>
</div>


<div class="text-center">
	<div class="container">
	<h3>The ones that we love, never really leave</h3>
	</div>
</div>

</body>
</html> 