
body {
    /* The image used */
    background-image: url("/images/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

  color: white;
}

.title{
	font-size: 75px;
}

.subtitle{
	font-size: 20px;

}

.text-center{
	color: white;
}