.customBox {
    border: 1px solid black;
    border-radius: 4px;
}

.header{
    padding-top:2.5%;
}

.settingsLabel{
    padding-top:1%;
}

.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.glyphicon-envelope:before{content:"\2709"}