.center{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 30px;
}

.bringdown{
	padding-top:  10px;
}

.password{
	margin-left: 25px;
}

.username{
	margin-left: 18px;
}

.email{
	margin-left: 28px;
}

.registerbutton{
	padding-left: : 1005px
	padding-left: 50px;
}