body{
  margin-top:30px;
  background-color:#F8FCFF;
}

.wrapper{
    display:grid;
    grid-template-columns: 3fr 5fr 5fr 2fr;
    grid-template-rows: 3fr 5fr 5fr;
}

.wrapper2{
    display:grid;
    grid-template-columns: 4fr 4fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper3{
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
}

.profile {
  width: 100%;
  position: relative;
  background: #FFF;
  border: 1px solid #D5D5D5;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.profile .image {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: 5px solid #FFF;
}

.profile .user {
  position: relative;
  padding: 0px 5px 5px;
}

.profile .user .avatar {
  position: absolute;
  left: 20px;
  top: -150px;
  z-index: 2;
}

.profile .user h2 {
  font-size: 16px;
  line-height: 20px;
  display: block;
  float: left;
  margin: 4px 0px 0px 135px;
  font-weight: bold;
}

.info {
  grid-column: 2/3;
  grid-row:2/3;
  font-size:1.5em;
  padding-left:35%;
  
}

.photoAlbum {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;

}

.photoAlbum > img {
    width: 75px;
    height: 75px;
}

.tqCard{
  grid-column:2/3;
  grid-row:1/2;
  text-align:center;
}

.tqCard img{
   filter: grayscale(100%);
    width: 75px;
    height: 75px;
}

.familyTree {
  grid-column:3/4;
  grid-row:1/2;
  text-align:center;
}

.familyTree img{
    width: 75px;
    height: 75px;
}


.img-profile{
    height:200px;
    width:200px;
}

.img-cover{
    width:1000px;
    height:300px;
}

.name{
    grid-column:1/2;
    grid-row:1/2;
    text-align: left;
    padding-left:15%;
}

.anchor{
  font-size:1.5em;
  color: black;
}

.lHeader{
    grid-row:1/2;
    grid-column:2/3;
    text-align: center;

}

.lText{
    grid-row:1/2;
    grid-column:2/3;
    text-align: center;
    margin-top:7.5%;
}

#legacyText {
    width: 80%;
    height: 75%;
    overflow-y: auto
}

.saveBtn {
    position: absolute;
    right:    100px;
    bottom:   10px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
.container {
    margin-top: 30px;
}
.tree ul {
    padding-top: 20px; position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

